/* bg colors */
/* top navbar bg */
/* link colors */
/* other colors */
body {
  margin: 0;
  padding: 50px 0 0;
  font-family: Arial;
  font-size: 14px;
  background-color: #eeeeee;
  color: #666;
}
.panel .panel-heading .panel-title {
  font-size: 18px;
}
.panel .panel-heading .panel-title.pull-left {
  margin-top: 8px;
}
/* top fixed bar */
.navbar-fixed-top {
  border: 0;
  background: #3778a2;
}
.navbar-fixed-top a.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.navbar-fixed-top a.navbar-brand i {
  padding: 5px 7px;
  margin: -7px 7px -7px 0;
  background-color: #2a5c7c;
  border-radius: 3px;
  box-shadow: inset 0 0 5px #222222;
  color: #d3d3d3;
}
.navbar-fixed-top #navbar ul.navbar-nav li a {
  color: white;
}
.navbar-fixed-top #navbar ul.navbar-nav li a:hover {
  background: #2a5c7c !important;
}
.navbar-fixed-top #navbar ul.navbar-nav li.active a {
  background-color: #244e69 !important;
}
.navbar-fixed-top #navbar .navbar-form {
  margin-left: 0px;
}
.navbar-fixed-top #navbar .navbar-form input[type=text] {
  max-width: 550px;
  min-width: 200px;
}
/* main wrap */
.main-wrap > .row {
  margin-left: -15px;
  margin-right: -15px;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333333;
  border-right: 1px solid #eeeeee;
}
.sidebar ul {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #444444;
  padding: 10px 0;
}
.sidebar ul:first-child {
  border-top: 0;
}
.sidebar ul:last-child {
  border-bottom: 0;
}
.sidebar ul li a {
  color: #808080;
}
.sidebar ul li.active > a {
  background-color: #fdbd4e;
  color: #333333;
}
.sidebar ul ul.sub-nav {
  display: none;
  padding: 0;
  background-color: #444444;
}
.sidebar ul ul.sub-nav li a {
  padding-left: 40px;
}
.main {
  padding-top: 15px;
}
.main .row > div {
  margin-right: -20px;
}
.main .panel {
  margin: 5px 5px 15px;
  padding: 0;
}
/* login page */
.login-form {
  width: 450px;
  background: #ffffff;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #aaaaaa;
  margin-bottom: 25px;
}
.login-form form h2 {
  margin: 0 auto 20px;
  text-align: center;
}
.login-form .forget-link {
  margin-top: 10px;
}
/* messages */
.messages h5 {
  font-weight: bold;
}
.messages .inbox li {
  background-color: #f9f9f9;
  max-height: 87px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messages .inbox li:hover {
  background-color: #f0f0f0;
}
.messages .inbox li.active {
  background-color: #ffffff;
}
.messages .inbox li a {
  display: block;
  color: #666666;
}
.messages .inbox li a:hover {
  text-decoration: none;
}
.messages .inbox li div {
  margin-right: 10px;
}
.messages .inbox li p {
  margin: 0 0 3px;
}
.messages .message-list form {
  margin: 7px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.messages table.no-border tr td {
  border: 0 !important;
}
